.back-button {
  display: none;
}

.main {

  position: fixed;
  z-index: 10;
  width: 100%;
  background: #fff;
  transition: ease-in-out 0.3s;
  height: 70px;

  p {
    position: absolute;
    top: 26px;
    transform: translateY(-50%, -50%);
    left: 570px;
  }
}

.btn-position {
  display: flex;
  position: relative;
}

.main.hidden {
  transform: translateY(-100%);
}

.btn {

  cursor: pointer;
}

.sideborder {
  background: #333;
  width: 500px;
  border-bottom-right-radius: 30px;

}

.logo {
  width: 220px;
  padding: 19px;
  line-height: 19px;
}

.logo-black {
  display: none;
}

.navbtn {
  width: 72px;
  position: absolute;
  left: 390px;
  top: 27px;

  div {
    width: 100%;
    height: 2px;
    background: #fff;
    margin-bottom: 8.5px;

  }

  .movebtn {
    width: 50%;
    margin-left: 35px;
  }
}







.clip {

  width: 100%;
  overflow: hidden;
  padding-top: 70px;
}

video {
  object-fit: cover;

  width: 100vw;
}

.roundsquare {
  padding-top: 60px;
  background: #fdf8f5;

  width: 100%;


  .imagebox {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;

    .wrap {
      margin: 20px;
    }
  }


}



.text-image-container {
  padding: 50px;
}

.wrap {
  padding-bottom: 100px;
}

.img-box {

  overflow: hidden;
  text-align: center;
  position: relative;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrap_imgtext {
  font-size: 19px;
  line-height: 61px;
  text-align: center;
  cursor: pointer;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 450px;
  background-color: #ff6400;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.round-square__circle {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: none;
}

.img-box.active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box .icons__circle {
  display: flex;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  font-weight: 600;
  display: none;

  .color-text {
    color: #333;
    font-size: 16px;
    padding: 0px 10px;
  }

  >p {
    color: #fff;
    font-size: 29px;
  }
}

.img-box.active .circle {
  display: flex;
}



.ourbrand-container {
  height: 112vh;
  display: flex;

  .brand {
    width: 50%;

  }

  .brand .text-box {
    margin-top: 111px;

  }
}

.brandimg-text {
  position: relative;
}

.brandimg-container {
  position: relative;
  height: 88vh;
  display: flex;
  justify-content: center;
}

.readmore {

  display: flex;
  align-items: center;
  width: 140px;
  height: 50px;

  .readmore-svg {

    width: 45px;
    position: relative;
    left: 22px;
  }
}

.readmore.active {
  display: flex;
  align-items: center;
  width: 140px;
  height: 50px;
  background: #ff6400;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.readmore.active .readmore-svg {
  display: none;
}

.readmore-text {
  font-weight: bold;
}

.readmore.active .readmore-text {
  margin-left: 35px;
}

.roundnow {
  background: #fdf8f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px;
  /* .textborder {
    border-top: 3.3px solid #f7decb;
    margin-top: 14px;
    padding: 14px 0
  } */
}

.roundnow-container {
  display: flex;

}

.squarenow {
  width: 30%;
  height: 95px;

  div {
    margin-bottom: 11px;
  }

  p {
    color: #333;
    line-height: 34px;
    margin-bottom: 0.625vw;
    font-weight: bold;
  }
}



.news {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  cursor: pointer;
}

.container {
  width: 50%;
  padding: 0 0 70px 60px;

  >p {
    color: #ff6400
  }

  .textbold {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #ff6400
  }

  .four-text {
    width: 90%;
  }

}

.loading {
  width: 100%;
  height: 5px;
  background-color: rgba(225, 0, 0, 0.1);
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.container.active .loading {
  width: 100%;
  background: #ff6400;

}

.containerflex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.newstext {
  width: 70%;

  >p {
    width: 270px;
  }

  .texthidden {
    height: 28px;
    overflow: hidden;
    font-size: 20px;
    width: 100%;

  }

  .d {
    height: 35px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 284px;
    font-size: 15px;
    margin: 10px 0;
    color: rgb(171, 172, 173);
  }
}

.newsall-text {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 75px;

}

.container .circle-change {
  display: none;
}

.container.active .circle-change {
  display: block;
}

.container.active .circle-r {
  display: none;
}

.arrow-circle {
  transform: rotate(90deg);
  width: 20px;
}


.css-j3lc6o {
  display: none;
}

.iconscontainer {
  display: flex;
  flex-wrap: wrap;

  .img-box {
    overflow: hidden;
    width: calc(100vw / 4 - (17px / 4));
    height: calc(100vw / 4 - (17px / 4));

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

footer {
  background: #323232;
  color: #fff;
  position: relative;
  padding: 90px 120px;
}

.samyang {
  display: flex;
}

.logocontainer {
  width: 50%;




  svg {
    width: 390px;
    height: 74px;
    margin-bottom: 30px;
  }
}

.information {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 7px 0 90px 0;

  >p {
    font-size: 12px;
    padding-right: 13px;
  }
}

.address {

  >p {
    font-size: 16px;
  }
}

.familysite {
  color: #323232;
  border-radius: 40px;
  background: #fff;
  padding: 12px;
  width: 30%;
  margin-top: 21px;
  display: flex;
  justify-content: space-between;

  p {
    padding: 3px;
    font-size: 15px;

  }
}

.familysite .footer-svg {
  width: 20px;
  transform: rotate(30deg);
  margin: 0;
  height: 20px;

}

.gridcontainer {
  width: 50%;
}

.gridtext {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 0;



  div {
    border-top: 1.5px solid #fff;
    width: calc(25% - 45px /4);
    line-height: 25px;
    margin-right: 11px;
  }
}

.category {
  font-size: 16px;

  :first-of-type {
    margin: 9px 0;
  }

  p:not(:first-of-type) {
    font-size: 14px;
  }
}

.footer-line {
  font-size: 11px;
  border-top: 1px solid #fff;
  padding: 19px 0 0;
}

.gridcontainer {
  padding-bottom: 50px;
}

section {

  .text-box {
    font-size: 26px;
    height: 63px;
    margin: 0 auto;


    p {
      color: #333;

      line-height: 34px;

      font-weight: bold;
    }

    .title {
      font-size: 28px;
    }

    .substance {
      font-size: 20px;
    }
  }


}